  * {
	margin: 0;
	padding: 0;
  }
 
 body {
	background: rgba(4, 43, 62, 0.837);
	font-family:Monospace;	
		}

.desktopTotalContainer {
	margin-top:10px;
	margin-inline: auto;
	width:80%;
	min-height: 100vh;
		}
.container{
 position:relative;
    width: 100%;
	min-height:200px;
	margin:50px auto;
}

 .triangle {
	display:block;
	width:100%;
	min-height: 50%;
	margin: 20px auto;
 }

.item,#userResult,#computerResult {
	background: white;
	width: 60px;
	height: 60px;
	padding: 20px;
	border-radius: 50%;
	border: 8px outset rgb(12, 182, 142);
	animation: 500ms ease-out infinite;
	cursor: pointer;
}
.item:hover {
	animation-name:itemAni;
}

@keyframes itemAni {
from{
	transform: scale(1.05);
	path-fill:white;
	background:  rgb(27, 156, 188);
}
}
.item:nth-child(1){
 position:absolute;
top:0;
left:10px;
border: 8px outset rgb(9, 9, 212)
}

.item:nth-child(2) {
 position:absolute;
top:0;
right:10px;
border: 8px outset rgb(222, 16, 16);
}
.item:nth-child(3) {
	position:absolute;
	bottom:10px;
	left:33%;
	border: 8px outset darkorange;
}

.resultContainer {
	margin-top: 80px;
	margin-inline:auto;
	display:grid;
	color:white;
	justify-content: space-evenly;
	grid-template-columns: 130px 130px;
	grid-template-rows: 115px 115px;
	gap: 50px;
}

.rule {
	display:block;
background:inherit;
color: white;
border: 2px solid white;
border-radius: 10px;
width: 210px;
padding: 17px;
margin-top: 5px;
margin-inline: auto;
}
.verdict {
	display:flex;
	flex-direction: column;
	margin-inline: auto;
	align-items: center;
	font-size: 60px;
	color:white;
	gap:20px;
}

.restart {
	background:white;
	color: rgba(0,07,46,0.837);
	font-size:18px;
	font-weight:600;
	word-spacing:2px;
	border:none;
	border-radius:10px;
	width: 60%;
	padding: 15px;
}

.score-container {
	width: 100%;
	margin-top: 10px;
	display:flex;
	justify-content:space-between;
	gap: 20px;
	color: white;
	font-size:18px;
}
		.attribution {
			color: aliceblue;
			font-size: 11px;
			text-align: center;
			margin-top: 100px;
			padding:5px;
			/* display:none; */
		}
		.attribution a {
			color: hsl(230, 4%, 69%);
		}
	
		

 @media (min-width: 700px) {

 	.desktopTotalContainer {
		width: 70%;
		min-height: 100vh;
 		margin-top:10px;
 		margin-inline: auto;
 	}
 	
 	.container{
	width: 80%;
    position:relative;
	min-height:  200px;
	margin:20px auto;
}

 .triangle {
	display:block;
	width:85%;
	/* min-height: 50%;*/
	height: 1%;
	margin: 20px auto;
 }
.item {
	width:100px;
	height: 100px;
}
 	.item:nth-child(1){
 position:absolute;
top:0;
left:10px;
}

.item:nth-child(2) {
 position:absolute;
 top:0;
right:10px;
}
.item:nth-child(3) {
	position:absolute;
	bottom: 45px;
	left: 30%;
}
 	.rule {
 		margin-top: 60px;
 	}
 	.score-container {
 		justify-content: space-evenly;
 	}
 }

 @media (min-width: 950px) {
	.item:nth-child(3) {
		position:absolute;
		bottom: 45px;
		left: 40%;
	}
 }

 .rulesImageCon {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color:white;
	display: flex;
	flex-direction: column;
    align-items: center;
	justify-content: center;
	gap: 12px;
	position: fixed;
	inset:0;
	width: 100%;
	min-height: 100vh;
	background: rgba(4, 43, 62, 0.937);
 }
 .rulesImage {
	min-width:50%;
	cursor: pointer;
 }

 .hide {
	display:none;
}
 